.userInfo {
  padding:6vw 10vw;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  background: #eee;
  justify-content: space-between;
  &-left {
    width: 19%;
    background: white;
    padding: 2vw 0;
    border-right: 1px #eee solid;
    box-shadow: 2px 0 10px lightgrey;
    &-header {
      text-align: center;
      p {
        display: flex;
        justify-content: center;
      }
      font {
        width: 70%;
        word-wrap:break-word;
        word-break:break-all;
        overflow: hidden;
      }
    }
    &-menu {
      ul {
        margin: 3vw 0;
        padding: 0;
        list-style: none;
        li {
          padding: .5vw 4vw;
          cursor: pointer;
          border-left: 4px solid transparent;
          transition: all .3s;
          color: #b9c9d1;
          font-size: .9vw;
        }
        li:hover {
          border-left-color: rgb(41, 189, 185);
          color: #63737a;
        }
      }
    }
  }
  &-right {
    width: 80%;
    background: #f3f5f7;
    padding: 2vw;
    &-home {
      &-achievement {
        article {
          font-weight: bold;
          border-bottom: 1px solid lightgrey;
          padding-bottom: .5vw;
          width: 5%;
          margin-bottom: 1vw;
        }
        &-content {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          section {
            width: 30%;
            background: white;
            margin: 1vw;
            padding: .5vw 1vw;
            border: 1px solid transparent;
            transition: all .3s;
            cursor: pointer;
            article {
              width: 100%;
              letter-spacing: normal;
              i {
                margin-left: .5vw;
                color: rgb(41, 189, 185);
              }
            }
          }
          section:hover {
            border: 1px solid rgba(41, 189, 185, .7);
            box-shadow: 0 0px 3px rgba(41, 189, 185, .3);
            transform: scale(1.05)
          }
        }
      }
    }
  }
}