.questions-list {
  margin-top: 10vw;
  .question-allQuestions {
    display: flex;
    .question-allQuestions-menus {
      width: 25vw;
      margin-right: 10vw;
      article {
        padding-bottom: .5vw;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 1vw;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: .7vw;
        letter-spacing: normal;
        margin-bottom: 2vw;
        li {
          list-style: none;
          border: 1px solid #f0f0f0;
          padding: .2vw 1vw;
          cursor: pointer;
          border-radius: .5vw;
          margin: .25vw .25vw;
          transition: border-color .3s, background .3s, color .3s;
        }
        li:hover, .question-menu-focus {
          border-color: rgb(40, 190, 184);
          background: #28BEB8;
          color: white;
        }
      }
    }
    .question-allQuestions-list {
      width: 65vw;
      display: flex;
      flex-wrap: wrap;
      .question-list-detail {
        .question-list-found {
          letter-spacing: normal;
          table {
            font-size: .85vw;
            width: 100%;
            .table-clo-center {
              text-align: center;
            }
            thead > tr {
              th:first-child, th:last-child {
                padding: 1vw;
              }
            }
            thead {
              background: #fafafa;
            }
            tbody > tr {
              border-bottom: 1px solid #eee;
              cursor: pointer;
              transition: background .3s;
              td:first-child, td:last-child {
                padding: 1vw;
              }
              td:nth-child(1) {
                padding-right: 1vw;
                transition: color .3s;
              }
            }
            tbody > tr:hover {
              background: rgba(41, 189, 185, .1);
              td:nth-child(1) {
                color: #28BEB8
              }
            }
          }
        }
        .question-list-notFound {
          text-align: center;
        }
      }
    }
    .question-allQuestions-list > section {
      width: 100%;
      ul:nth-child(3) {
        display: flex;
        justify-content: center;
      }
    }
  }
}