.question-chapters {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  li {
    list-style: none;
    cursor: pointer;
    border: 1px #f0f0f0 solid;
    width: 16vw;
    height: 16vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: transform .3s, box-shadow .3s, background .3s;
    font {
      width: 11vw;
      text-align: center;
    }
    font:nth-child(1) {
      font-size: 1.2vw;
      color: rgb(40, 190, 184);
    }
    font:nth-child(2) {
      font-size: .8vw;
      font {
        color: rgb(40, 190, 184);
      }
    }
  }
  li:hover {
    transform: translateY(-.5vw);
    box-shadow: 0px 3px 30px lightgrey;
    background: white;
  }
}
.question-title {
  margin:3vw 0;
  font-size: 1.5vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  img {
    width: 1.5vw;
    margin-right: 1.5vw;
  }
}