.register {
  margin: 15vw 25vw;
  letter-spacing: 0;
  background-color: #f5f5f6;
  box-shadow: 0 3px 30px #D7D8D9;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  article {
    font-size: 1.5vw;
    margin-bottom: 2vw;
  }
  .register-form {
    display: flex;
    justify-content: center;
    width: 35vw;
    .ant-form-item-control-wrapper {
      width: 25vw;
    }
    .ant-btn {
      width: 100%;
    }
  }
  .captcha > div {
    margin-bottom: 1vw;
    justify-content: flex-start;
    width: 25vw;
  }
  .captcha > div > div {
    display: inline-block;
  }
  .captcha-form .ant-btn {
    width: 9vw;
  }
  ._captcha {
    cursor: pointer;
  }
  .register-eMail {
    .ant-input {
      width: 70%;
    }
    .ant-btn {
      width: 20%;
    }
    #eMail {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.register > .ant-form, .register article {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}