body,html{
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Segoe UI","Helvetica Neue","PingFang SC","Noto Sans","Noto Sans CJK SC","Microsoft YaHei",微软雅黑,sans-serif;
  letter-spacing: 0.3vw;
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover {
  color: #28BEB8;
}

::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
  background-color:#f8f8f8;
}
::-webkit-scrollbar {//滚动条的宽度
  width:9px;
  height:9px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:28px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}


.ant-btn:hover,
.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #28BEB8;
  color: #28BEB8;
}
.ant-btn-primary{
  background: #28BEB8;
  border-color: #28BEB8;
  color: white;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  background: #219A96;
  border-color: #219A96;
  color: white;
}
.ant-btn-clicked:after {
  border-color: #219A96;
}
.ant-pagination-item-active a,
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a,
.ant-pagination-item:focus a, .ant-pagination-item:hover a {
  color: #28BEB8;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-input:focus, .ant-input:hover,
.ant-checkbox-checked:after,
.ant-radio-checked .ant-radio-inner,
.ant-radio-checked:after,
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner,
.ant-select-selection:hover,
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-pagination-options-quick-jumper input:focus,
.ant-pagination-item-active,
.ant-pagination-item-active:focus, .ant-pagination-item-active:hover,
.ant-pagination-options-quick-jumper input:hover
 {
  border-color: #28BEB8;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-input:focus,
.ant-pagination-options-quick-jumper input:focus {
  box-shadow: 0 0 0 2px rgba(41, 189, 185, .2)
}
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner,
.ant-radio-inner:after,
.ant-progress-success-bg, .ant-progress-bg {
  background-color: #28BEB8;
}