.question-paper {
  margin-top: 5vw;
  .question-paper-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 25vw;
    div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    div:nth-child(1) {
      width: 50vw;
    }
    div:nth-child(2), div:nth-child(3) {
      width: 30vw;
      justify-content: flex-start;
      margin: .5vw 0;
      label {
        width: 6vw;
        display: flex;
        justify-content: flex-end;
      }
      span {
        margin: 0 .5vw;
        padding: 0 .5vw;
        cursor: pointer;
        transition: color .3s;
      }
      span:hover {
        color: #28BEB8
      }
    }
  }
  .question-paper-content {
    margin-top: 3vw;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    letter-spacing: normal;
    .question-paper-content-item {
      width: 15vw;
      background: #f5f5f5;
      padding: 1vw;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 1vw;
      box-shadow: 0 3px 5px #EEEFF1;
      transition: all .3s;
      cursor: pointer;
      img {
        border-radius: 50%;
        transition: transform 2s;
        width: 5vw;
      }
      article, p {
        width: 100%;
        text-align: center;
        margin-bottom: .5vw;
      }
      article {
        font-weight: bold;
      }
      p:nth-child(4) {
        padding: 0 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        span font {
          color: rgb(41, 189, 185)
        }
      }
      p:nth-child(3) {
        color: grey;
      }
      p:last-child {
        font {
          color: #9254de;
        }
      }
    }
    .question-paper-content-item:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 1, .3);
      transform: translateY(-.5vw);
      img {
        transform: rotate(360deg)
      }
    }
  }
  ul {
    text-align: center;
  }
}